$font: 'Inter', sans-serif;
$background: #43144A;
$primary_color: #FFC700;
$secondary_color: #CBCBFF;
$grid_color: #EE8D94;
$button_background: #853594;
$bigger_font_size: 36px;
$gameplay_color: #23144B;
